.header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  border: 2px;

  .logo-container {
    height: 100%;
    margin: 0 auto;
    width: 50px;
    padding: 0px;
  }

  .options {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    cursor: pointer;

    .option {
      padding: 5px 10px;
      color: black;
    }
    a:hover {
      text-decoration-line: underline;
      color: black;
    }
    .selected {
      color: red;
    }
  }

  h3 {
    margin: 0 !important;
  }
}

@media screen and (min-width: 450px) {
  .header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border: 2px;
    border-color: black;

    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }

    .options {
      width: 80%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .option {
        padding: 10px 15px;
      }
      .selected {
        color: red;
      }
    }
  }
}
