body {
  font-family: "Open Sans Condensed";
  padding: 20px 40px;
  background-image: url("../src/components/assets/web_bg.jpg");
  background-attachment: fixed;
  background-size: 100%;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
